In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("tabular_data/listing.csv")

In [3]:
from ast import literal_eval

In [33]:
label_fieldname = "Price_Night"

numerical_features_fieldname_list = ['guests', 'beds', 'bathrooms', 'Price_Night', 'Cleanliness_rating',
                                          'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating',
                                          'Value_rating', 'amenities_count', 'url', 'bedrooms']
numerical_features_fieldname_list.remove(label_fieldname)
new_df = df[numerical_features_fieldname_list]
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   guests                969 non-null    object
 1   beds                  945 non-null    float64
 2   bathrooms             888 non-null    float64
 3   Cleanliness_rating    890 non-null    float64
 4   Accuracy_rating       890 non-null    float64
 5   Communication_rating  890 non-null    float64
 6   Location_rating       890 non-null    float64
 7   Check-in_rating       890 non-null    float64
 8   Value_rating          890 non-null    float64
 9   amenities_count       988 non-null    float64
 10  url                   988 non-null    object
 11  bedrooms              906 non-null    object
dtypes: float64(9), object(3)
memory usage: 92.8+ KB

In [24]:
df

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
4,8b2d0f78-16d8-4559-8692-62ebce2a1302,Treehouses,Hanging cabin,"['About this space', 'Feel refreshed at this u...","['What this place offers', 'Heating and coolin...",Wargnies-le-Petit Hauts-de-France France,2,1.0,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,5.0,https://www.airbnb.co.uk/rooms/50166553?adults...,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,4fea5054-f999-4c07-addc-67e4d893deab,Beachfront,Apartment,"['About this space', 'Light roomy space with o...","['What this place offers', 'Bathroom', 'Hair d...",Brighton and Hove England United Kingdom,2,1.0,1.0,78,4.8,5.0,4.9,4.9,5.0,4.9,54.0,https://www.airbnb.co.uk/rooms/48565992?adults...,1,NaN
984,282118e2-049e-4d9f-b2f2-b47477881b07,Beachfront,Sea front flat with a stunning view!,"['About this space', 'This specious two bedroo...","['What this place offers', 'Scenic views', 'Be...",East Sussex England United Kingdom,4,2.0,1.5,113,4.8,5.0,5.0,5.0,5.0,4.8,38.0,https://www.airbnb.co.uk/rooms/49742544?adults...,2,NaN
985,9ebf9cec-624e-480e-8704-dffa7cb1fe51,Beachfront,MP713 - Camber Sands Holiday Park - Sleeps 6 +...,"['About this space', 'With all the modern amen...","['What this place offers', 'Bathroom', 'Hot wa...",Camber England United Kingdom,6,3.0,2.0,80,4.7,4.8,5.0,5.0,5.0,4.7,24.0,https://www.airbnb.co.uk/rooms/47777462?adults...,2,NaN
986,de8a45c7-0a1e-48ed-916d-6d1ad8d9f771,Beachfront,Unspoilt Sea View Family Beach House,"['About this space', 'Sleeps 10. A large Beach...","['What this place offers', 'Scenic views', 'Be...",Pevensey Bay England United Kingdom,10,7.0,5.0,426,NaN,NaN,NaN,NaN,NaN,NaN,41.0,https://www.airbnb.co.uk/rooms/46632639?adults...,5,NaN
987,d2b06c80-c643-485d-a24b-15d0811a3166,Beachfront,"Sea Scene's , Hayling Island","['About this space', 'Sea Scenes is a homely t...","['What this place offers', 'Bathroom', 'Hair d...",Hayling Island Hampshire United Kingdom,4,2.0,1.0,104,4.9,4.9,4.9,4.9,4.9,4.3,29.0,https://www.airbnb.co.uk/rooms/32377446?adults...,2,NaN

In [17]:
new_df = df[["guests","bathrooms"]]
new_df

    guests  bathrooms
0        2        1.0
1        3        0.0
2        4        1.5
3        2        1.0
4        2        NaN
..     ...        ...
983      2        1.0
984      4        1.5
985      6        2.0
986     10        5.0
987      4        1.0

[988 rows x 2 columns]

In [6]:
field_list = ["guests","beds","bathrooms","bedrooms"]
for i in field_list:
    df[i].fillna(1, inplace=True)

In [7]:
df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                    0
beds                      0
bathrooms                 0
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                  0
Unnamed: 19             987
dtype: int64

In [ ]:
def parse_string_to_list(dataframe_element):
    try:
        return literal_eval(dataframe_element)
    except:
        return dataframe_element

missing_description_mask = df["Description"].notna()
df = df[missing_description_mask]

description_list = []
for i in df["Description"]:
    parsed_list = parse_string_to_list(i)
    if isinstance(parsed_list, list):
        parsed_list = parsed_list[1:]
        parsed_list = " ".join([j for j in parsed_list if j !=""])

    description_list.append(parsed_list)

In [ ]:
df["Description"]=pd.Series(description_list)

In [ ]:
def parse_string_to_list(dataframe_element):
    try:
        return literal_eval(dataframe_element)
    except:
        return dataframe_element

missing_description_mask = df["Description"].notna()
df = df[missing_description_mask]

description_list = []
for i in df["Description"]:
    parsed_list = parse_string_to_list(i)
    if isinstance(parsed_list, list):
        parsed_list = parsed_list[1:]
        parsed_list = " ".join([i for i in parsed_list if i !=""])
    
    description_list.append(parsed_list)

len(description_list)